<div id="footer">
    <div class="col-sm-4 full">
        <a href="/surprise" style="color: black; text-transform: none;">M</a>ade by a students, for students
    </div>
    <div class="col-sm-4">
        <a href="https://github.com/Nopekick" target="_blank"><i class="fab fa-github"></i> Github</a>
    </div>
    <div class="col-sm-4">
        <a href="/contact"><i class="far fa-edit"></i> Contact</a>
    </div>
</div>
    
    </body>
</html>