<% include ./partials/header %>

<div class="container" style="font-size: 1.2em;">
     <div style="text-align: center; margin-bottom: 20px;"><h2>Free Response Questions</h2></div>
      <div style="text-align: center; margin-bottom: 35px;"><p>The best preparation is practice!</p></div>
    <div style="margin-bottom: 40px" class="col-md-3">
        <h4>2017 FRQs</h4>
    <ul>
        <li style="list-style: none;"><a href="https://apcentral.collegeboard.org/pdf/ap-english-literature-frq-2017.pdf?course=ap-english-literature-and-composition" target="_blank">FRQ Prompts</a></li>
        <ul>
            <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap17-english-literature-q1.pdf">FRQ1 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap17-english-literature-q2.pdf">FRQ2 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap17-english-literature-q3.pdf">FRQ3 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/ap/pdf/ap17-sg-english-literature.pdf">Scoring Guidelines</a></li>
        </ul>
    </ul>
    </div>
    
    <div style="margin-bottom: 40px" class="col-md-3">
        <h4>2016 FRQs</h4>
    <ul>
        <li style="list-style: none;"><a href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap16_frq_english_literature.pdf" target="_blank">FRQ Prompts</a></li>
        <ul>
            <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap16_english_literature_q1.pdf">FRQ1 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap16_english_literature_q2.pdf">FRQ2 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap16_english_literature_q3.pdf">FRQ3 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap16_english_literature_sg.pdf">Scoring Guidelines</a></li>
        </ul>
    </ul>
    </div>
    
     <div style="margin-bottom: 40px" class="col-md-3">
        <h4>2015 FRQs</h4>
    <ul>
        <li style="list-style: none;"><a href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap15_frq_english_literature.pdf" target="_blank">FRQ Prompts</a></li>
        <ul>
            <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap15_english_lit_q1.pdff">FRQ1 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap15_english_lit_q2.pdf">FRQ2 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap15_english_lit_q3.pdf">FRQ3 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap15_english_literature_sg.pdf">Scoring Guidelines</a></li>
        </ul>
    </ul>
    </div>
    
     <div style="margin-bottom: 40px" class="col-md-3">
        <h4>2014 FRQs</h4>
    <ul>
        <li style="list-style: none;"><a href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap14_frq_english_literature.pdf" target="_blank">FRQ Prompts</a></li>
        <ul>
            <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap14_english_literature_and_composition_q1.pdf">FRQ1 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap14_english_literature_and_composition_q2.pdf">FRQ2 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap14_english_literature_and_composition_q3.pdf">FRQ3 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap14_english_literature_scoring_guidelines.pdf">Scoring Guidelines</a></li>
        </ul>
    </ul>
    </div>
    
     <div style="margin-bottom: 40px" class="col-md-3">
        <h4>2013 FRQs</h4>
    <ul>
        <li style="list-style: none;"><a href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap13_frq_eng_lit.pdf" target="_blank">FRQ Prompts</a></li>
        <ul>
            <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap13_eng_lit_q1.pdf">FRQ1 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap13_engl_lit_q2.pdf">FRQ2 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap13_engl_lit_q3.pdf">FRQ3 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/apcentral/ap13_english_literature_scoring_guidelines.pdf">Scoring Guidelines</a></li>
        </ul>
    </ul>
    </div>
    
    <div style="margin-bottom: 40px" class="col-md-3">
        <h4>2012 FRQs</h4>
    <ul>
        <li style="list-style: none;"><a href="https://secure-media.collegeboard.org/apc/ap_2012_frq_eng_lit.pdf" target="_blank">FRQ Prompts</a></li>
        <ul>
            <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap12_english_lit_q1.pdf">FRQ1 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap12_english_lit_q2.pdf">FRQ2 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap12_english_lit_q3.pdf">FRQ3 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap12_english_literature_scoring_guidelines.pdf">Scoring Guidelines</a></li>
        </ul>
    </ul>
    </div>
    
     <div style="margin-bottom: 40px" class="col-md-3">
        <h4>2011 FRQs</h4>
    <ul>
        <li style="list-style: none;"><a href="https://secure-media.collegeboard.org/apc/ap11_frq_english_lit.pdf" target="_blank">FRQ Prompts</a></li>
        <ul>
            <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap11_english_literature_q1.pdf">FRQ1 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap11_english_literature_q2.pdf">FRQ2 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap11_english_literature_q3.pdf">FRQ3 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap11_engl_lit_scoring_guidelines.pdf">Scoring Guidelines</a></li>
        </ul>
    </ul>
    </div>
    
     <div style="margin-bottom: 40px" class="col-md-3">
        <h4>2011 FRQs Form B</h4>
    <ul>
        <li style="list-style: none;"><a href="https://secure-media.collegeboard.org/apc/ap11_frq_english_lit_formb.pdf" target="_blank">FRQ Prompts</a></li>
        <ul>
            <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap11_english_lit_form_b_q1.pdf">FRQ1 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap11_english_lit_form_b_q2.pdf">FRQ2 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap11_english_lit_form_b_q3.pdf">FRQ3 Responses</a></li>
             <li><a target="_blank" href="https://secure-media.collegeboard.org/apc/ap11_english_lit_form_b_scoring_guidelines.pdf">Scoring Guidelines</a></li>
        </ul>
    </ul>
    </div>
    
    
    
    
</div>

<% include ./partials/footer %>