<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
    <h3 class="display-3">Edit Poem</h3>
        <form method="POST" action="/poems/<%= poem._id %>?_method=PUT">
        <div class="row">
            <div class="col-md-6">
                <label>Poem Title</label>
                <div class="form-group">
                    <input type="text" name="poem[title]" class="form-control" value="<%= poem.title %>"></input>
                </div>
                <label>Poem Author</label>
                <div class="form-group">
                    <input type="text" name="poem[author]" class="form-control" value="<%= poem.author %>"></input>
                </div>
                <button class="btn btn-primary btn-md">Update</button>
            </div>
            <div class="col-md-6">
                    <label>Poem</label>
                    <div class="form-group">
                        <textarea  cols="65" rows="15" name="poem[content]"><%= poem.text %></textarea>
                    </div>
            </div>
        </div>
     </form>
       
    </div>
</div>

<% include ../partials/footer %>